[package]
name = "halloy"
version = "0.1.0"
authors = ["Casper Rogild Storm", "Cory Forsstrom"]
description = "Halloy IRC Client"
documentation = "https://halloy.squidowl.org/"
license = "GPL-3.0-or-later"
edition = "2021"

[features]
default = []
debug = ["iced/debug"]
dev = ["debug", "data/dev"]

[dependencies]
data = { version = "0.1.0", path = "data" }
ipc = { version = "0.1.0", path = "ipc" }

notify-rust = "4"
chrono = { version = "0.4", features = ['serde'] }
fern = "0.6.1"
iced = { version = "0.14.0-dev", default-features = false, features = [
    "wgpu",
    "tiny-skia",
    "fira-sans",
    "tokio",
    "lazy",
    "advanced",
    "image",
] }
log = "0.4.16"
once_cell = "1.18"
palette = "0.7.4"
thiserror = "1.0.30"
tokio = { version = "1.0", features = ["rt", "fs", "process"] }
unicode-segmentation = "1.6"
open = "5.0.1"
bytesize = "1.3.0"
timeago = "0.4.2"
futures = "0.3.30"
itertools = "0.13.0"
rodio = "0.19.0"
strum = { version = "0.26.3", features = ["derive"] }
tokio-stream = { version = "0.1.16", features = ["fs"] }
url = "2.5.0"

# change to 1.2.0 when it is released https://github.com/frewsxcv/rust-dark-light/issues/38
dark-light = { git = "https://github.com/frewsxcv/rust-dark-light", rev = "3eb3e93dd0fa30733c3e93082dd9517fb580ae95" }
anyhow = "1.0.91"
emojis = "0.6.4"
strsim = "0.11.1"

[dependencies.uuid]
version = "1.0"
features = ["v4"]

[dependencies.rfd]
version = "0.15.2"
default-features = false
features = ["xdg-portal", "tokio"]

[target.'cfg(windows)'.dependencies]
image = "0.24.6"

[target.'cfg(windows)'.build-dependencies]
embed-resource = "2.1.1"
windows_exe_info = "0.4"

[workspace]
members = ["data", "ipc", "irc", "irc/proto"]

[patch.crates-io]
iced = { git = "https://github.com/iced-rs/iced", rev = "e722c4ee4f80833ba0b1013cadd546ebc3f490ce" }
iced_core = { git = "https://github.com/iced-rs/iced", rev = "e722c4ee4f80833ba0b1013cadd546ebc3f490ce" }
