[Desktop Entry]
Name=Halloy
Comment=IRC client written in Rust
Type=Application
Keywords=IM;Chat;
Categories=Network;IRCClient;
Exec=halloy %U
Icon=org.squidowl.halloy
StartupWMClass=org.squidowl.halloy
MimeType=x-scheme-handler/irc;x-scheme-handler/ircs;
Terminal=false
