[Desktop Entry]
Name=halloy
Comment=IRC client written in Rust
Type=Application
Keywords=IM;Chat;
Categories=Network;IRCClient;
Exec=halloy
Icon=org.squidowl.halloy
StartupWMClass=halloy
MimeType=x-scheme-handler/irc;x-scheme-handler/ircs;
Terminal=false
