<?xml version="1.0" encoding="UTF-8" ?>

<Wix
    xmlns="http://wixtoolset.org/schemas/v4/wxs"
    xmlns:ui="http://wixtoolset.org/schemas/v4/wxs/ui">

    <Package
        Name="Halloy"
        Version="$(PackageVersion)"
        Manufacturer="Squidowl"
        Language="1033"
        UpgradeCode="3ed18662-fb43-4803-a4f9-89bbbc0b6d01"
        UpgradeStrategy="majorUpgrade"
        Scope="perMachine">

        <MajorUpgrade Schedule="afterInstallInitialize"
            DowngradeErrorMessage="A newer version of [ProductName] is already installed. Setup will now exit."/>

        <Media Id="1" Cabinet="media1.cab" EmbedCab="yes"/>

        <StandardDirectory Id="ProgramFiles6432Folder">
            <Directory
                Id="INSTALLFOLDER"
                Name="!(bind.Property.ProductName)"
            />
        </StandardDirectory>

        <ComponentGroup Id="MainComponents" Directory="INSTALLFOLDER">

            <Component>
                <File Id="Application" DiskId="1" Source="target/release/halloy.exe" KeyPath="yes">
                    <Shortcut
                        Id="ApplicationStartMenuShortcutInFile"
                        Name="halloy.exe"
                        Icon="HalloyIcon.exe"
                        Directory="ProgramMenuFolder"
                        Description="IRC application written in Rust"
                        Advertise="yes"
                        WorkingDirectory="INSTALLFOLDER">
                        <ShortcutProperty Key="System.AppUserModel.ID" Value="org.squidowl.halloy" />
                    </Shortcut>
                </File>
            </Component>
            
            <Component Id='RegistryComponentDefaultPrograms' Guid='*'>
                <RegistryValue Root="HKCR" Key="Halloy" Value="Halloy" Type="string" />
                <RegistryValue Root="HKCR" Key="Halloy" Name="EditFlags" Value="2" Type="integer" />
                <RegistryValue Root="HKCR" Key="Halloy" Name="FriendlyTypeName" Value="Web URL" Type="string" />
                <RegistryValue Root="HKCR" Key="Halloy" Name="URL Protocol" Value="" Type="string" />
                <RegistryValue Root="HKCR" Key="Halloy\DefaultIcon" Value="[INSTALLFOLDER]halloy.exe,1" Type="string" />
                <RegistryValue Root="HKCR" Key="Halloy\shell" Type="string" Value="open" />
                <RegistryValue Root="HKCR" Key="Halloy\shell\open\command" Type="string" Value="&quot;[INSTALLFOLDER]Halloy.exe&quot; &quot;%1&quot;" />

                <RegistryValue Root="HKLM" Key="SOFTWARE\Halloy\Capabilities" Name="ApplicationDescription" Value="IRC client" Type="string" />
                <RegistryValue Root="HKLM" Key="SOFTWARE\Halloy\Capabilities" Name="ApplicationIcon" Value="[INSTALLFOLDER]Halloy.exe,0" Type="string" />
                <RegistryValue Root="HKLM" Key="SOFTWARE\Halloy\Capabilities" Name="ApplicationName" Value="IRC Picker" Type="string" />
                <RegistryValue Root="HKLM" Key="SOFTWARE\Halloy\Capabilities\DefaultIcon" Value="[INSTALLFOLDER]Halloy.exe,1" Type="string" />
                <RegistryValue Root="HKLM" Key="SOFTWARE\Halloy\Capabilities\URLAssociations" Name="irc" Value="Halloy" Type="string" />
                <RegistryValue Root="HKLM" Key="SOFTWARE\Halloy\Capabilities\URLAssociations" Name="ircs" Value="Halloy" Type="string" />
                <RegistryValue Root="HKLM" Key="SOFTWARE\Halloy\Capabilities\URLAssociations" Name="halloy" Value="Halloy" Type="string" />
                <RegistryValue Root="HKLM" Key="SOFTWARE\Halloy\Capabilities\shell" Value="open" Type="string" />
                <RegistryValue Root="HKLM" Key="SOFTWARE\Halloy\Capabilities\shell\open\command" Value="&quot;[INSTALLFOLDER]Halloy.exe&quot; &quot;%1&quot;" Type="string" />
                <RegistryValue Root="HKLM" Key="SOFTWARE\RegisteredApplications" Name="Halloy" Value="SOFTWARE\Halloy\Capabilities" Type="string" />
            </Component>

        </ComponentGroup>

        <Icon Id="HalloyIcon.exe" SourceFile="assets/windows/halloy.ico" />

        <Property Id="ARPPRODUCTICON" Value="HalloyIcon.exe"/>
        <Property Id="APPHELPLINK" Value="https://halloy.squidowl.org/"/>

        <CustomAction Id="LaunchApp" Impersonate="yes" Execute="deferred" FileRef="Application" ExeCommand="" Return="asyncNoWait" />

        <InstallExecuteSequence>
          <Custom Action="LaunchApp" Before="InstallFinalize"/>
        </InstallExecuteSequence>

        <WixVariable Id="WixUILicenseRtf" Value="wix/license.rtf"/>
        <WixVariable Id="WixUIDialogBmp" Value="wix/dialog.png"/>
        <WixVariable Id="WixUIBannerBmp" Value="wix/banner.png"/>

        <ui:WixUI Id="WixUI_InstallDir" InstallDirectory="INSTALLFOLDER" />
    </Package>
</Wix>