name: Build

on:
  pull_request:
    paths:
      - '**.rs'
      - '**/Cargo.toml'
      - 'Cargo.lock'
  push:
    branches:
      - main
    paths:
      - '**.rs'
      - '**/Cargo.toml'
      - 'Cargo.lock'
  merge_group:
    paths:
      - '**.rs'
      - '**/Cargo.toml'
      - 'Cargo.lock'

env:
  CARGO_TERM_COLOR: always

jobs:
  build-check-clippy-test:
    name: Build, Check, Clippy, Test, & Format
    runs-on: ubuntu-latest
    env:
      RUSTFLAGS: "-C linker=clang -C link-arg=-fuse-ld=mold"
    steps:
    - uses: actions/checkout@v5
    - name: Install dependencies
      run: |
        sudo apt update
        sudo apt install \
          build-essential \
          git \
          pkg-config \
          mold \
          clang \
          libdbus-1-dev \
          libudev-dev \
          libxkbcommon-dev \
          libfontconfig1-dev \
          libasound2-dev \
          libx11-xcb-dev
    - uses: actions/cache@v4
      with:
        path: |
          ~/.cargo/bin/
          ~/.cargo/registry/index/
          ~/.cargo/registry/cache/
          ~/.cargo/git/db/
          target/
        key: ${{ runner.os }}-cargo-${{ hashFiles('**/Cargo.lock') }}

    - name: Check
      run: cargo check --locked --profile ci

    - name: Clippy
      run: cargo clippy --locked --profile ci --workspace --all-targets -- -D warnings

    - uses: taiki-e/install-action@v2
      with:
        tool: cargo-nextest
    - name: Test
      run: cargo nextest run --locked --profile ci --workspace --all-targets

    - uses: dtolnay/rust-toolchain@nightly
      with:
        components: rustfmt
    - name: Format
      run: cargo +nightly fmt --all -- --check --color=always
